language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - nightly
  - pypy
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run --source=antfs_cli setup.py test
  - python setup.py install
  - antfs-cli --help
after_success:
  - coveralls
matrix:
  allow_failures:
    - python: nightly
